#card {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
  width: 220px;
  height: 320px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 13px;
}

/*ALL ROWS*/
.row {
  display: flex;
  justify-content: space-evenly;
}

.rowContent {
  display: flex;
  justify-content: space-evenly;
}

.suit {
  background-color: red;
  width: 50px;
  image-rendering:auto;
}

/*TOP*/
.topRow {
  display: flex;
  justify-content: right;
}

.rowContent {
  display: flexbox;
  flex-direction: row;
}

.topRow .cardValue {
  justify-content: right;
}

/*CENTER*/
.centerRow {
  position: relative;
  top: -20px;

}

.centerValue {
  text-align: center;
  margin-top: 65px;
  font-weight: 900;
  flex-direction: column;
  text-shadow: 3px 3px;
}

.centerRow h4 {
  text-align: center;
  font-weight: 900;
  font-size:20px;
}

/*BOTTOM*/
.bottomRow {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: -40px;
}

.bottomRow .cardValue {
  justify-content: left;
}

.joker {
  position: relative;
  top: -5px;
}


.redCard {
  color: red;
}

.blackCard {
  color: black;
}
